<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>乐优商城--购物车页面</title>

    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-cart.css"/>
</head>

<body>

<div id="cartApp">

    <div class="top">
        <shortcut/>
    </div>

    <div class="cart py-container">

        <!--logoArea-->
        <div class="logoArea">
            <div class="fl logo"><span class="title">购物车</span></div>
        </div>

        <!--All goods-->
        <div class="allgoods">
            <h4>全部商品<span>{{carts.length}}</span></h4>
            <div class="cart-main">
                <div class="yui3-g cart-th">
<!--                    <div class="yui3-u-1-4"><input type="checkbox"/> 全部</div>-->
                    <div class="yui3-u-1-4">商品</div>
                    <div class="yui3-u-1-8">单价（元）</div>
                    <div class="yui3-u-1-8">数量</div>
                    <div class="yui3-u-1-8">小计（元）</div>
                    <div class="yui3-u-1-8">操作</div>
                </div>
                <div class="cart-item-list">

                    <div class="cart-body">
                        <div class="cart-list">
                            <ul class="goods-list yui3-g" v-for="(cart,i) in carts" :key="i">
<!--                                <li class="yui3-u-1-24">-->
<!--                                    <input type="checkbox" name="shangpin" :value="cart.skuId"/>-->
<!--                                </li>-->
                                <li class="yui3-u-11-24">
                                    <div class="good-item">
                                        <div class="item-img"><img :src="cart.image" width="80px" height="80px"/></div>
                                        <div class="item-msg">
												<span style="line-height:70px ">
													{{cart.title}}<br/>
                                                    <!--                                                    <span v-for="(v,k) in JSON.parse(cart.ownSpec)" :key="k">-->
                                                    <!--                                                        {{v}}<br/>-->
                                                    <!--                                                    </span>-->
												</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="yui3-u-1-8"><span style="line-height:70px "
                                                             class="price">{{ly.formatPrice(cart.price)}}</span></li>
                                <li class="yui3-u-1-8" style="padding-top: 20px">
                                    <a href="javascript:void(0)" class="increment mins" @click="decrement(cart)">-</a>
                                    <input autocomplete="off" type="text" value="1" v-model="cart.num" minnum="1"
                                           class="itxt"/>
                                    <a href="javascript:void(0)" class="increment plus" @click="increment(cart)">+</a>
                                </li>
                                <li class="yui3-u-1-8"><span style="line-height:70px "
                                                             class="sum">{{ly.formatPrice(cart.price * cart.num)}}</span>
                                </li>
                                <li class="yui3-u-1-8">
                                    <a href="javascript:void(0)" @click="deleteCart(cart)">删除</a><br/>
<!--                                    <a href="#none">移到我的关注</a>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cart-tool">
<!--                <div class="select-all">-->
<!--                    <input type="checkbox" name="" id="" value=""/>-->
<!--                    <span>全选</span>-->
<!--                </div>-->
<!--                <div class="option">-->
<!--                    <a href="#none">删除选中的商品</a>-->
<!--&lt;!&ndash;                    <a href="#none">移到我的关注</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#none">清除下柜商品</a>&ndash;&gt;-->
<!--                </div>-->
                <div class="toolbar">
                    <div class="chosed">共<span>{{carts.length}}</span>件商品</div>
                    <div class="sumprice">
                        <span><em>总价（不含运费） ：</em><i class="summoney">{{money}}</i></span>
<!--                        <span><em>已节省：</em><i>-¥20.00</i></span>-->
                    </div>
                    <div class="sumbtn">
                        <a class="sum-btn" href="getOrderInfo.html" target="_blank" @click="jiesuan">结算</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script type="text/javascript">
    var cartVm = new Vue({
        el: "#cartApp",
        data: {
            ly,
            carts: [],
            selected:[]
        },
        created() {
            this.loadCarts();
        },
        methods: {
            loadCarts() {
                ly.verifyUser().then(() => {
                    localCart = ly.store.get("LY_CART");
                    if(localCart){
                        localCart.forEach(cart=>{
                            ly.http.post("/cart", {skuId: cart.skuId, num: cart.num});
                        })
                        ly.store.del("LY_CART")
                    }
                    ly.http.get("/cart").then(c =>{
                        this.carts = c.data||[];
                        }
                    )
                }).catch(() => {
                    this.carts = ly.store.get("LY_CART") || [];
                    this.selected = this.carts;
                })
            },
            increment(c) {
                c.num++;
                ly.verifyUser().then(() => {
                    // TODO 已登录，向后台发起请求
                    ly.http.post("/cart", {skuId: c.skuId, num: c.num}).then(

                    )
                }).catch(() => {
                    // 未登录，直接操作本地数据
                    ly.store.set("LY_CART", this.carts);
                })
            },
            decrement(c) {
                if (c.num <= 1) {
                    return;
                }
                c.num--;
                ly.verifyUser().then(() => {
// TODO 已登录，向后台发起请求
                    ly.http.post("/cart", {skuId: c.skuId, num: c.num}).then(

                    )
                }).catch(() => {
// 未登录，直接操作本地数据
                    ly.store.set("LY_CART", this.carts);
                })
            },
            deleteCart(c){
                // 默认去遍历list集合，将集合中的每个元素传入到function的item里，
                var index=this.carts.findIndex(item=>{if(item.skuId==c.skuId){return true}})
                this.carts.splice(index,1);
                ly.verifyUser().then(() => {
                    // TODO 已登录，向后台发起请求
                    ly.http.post("/cart/item", {skuId: c.skuId}).then(
                    )
                }).catch(() => {
                    // 未登录，直接操作本地数据

                    ly.store.set("LY_CART", this.carts);
                })

            },
            jiesuan(){
                ly.store.set("LY_DINGDAN", this.carts);
                // window.location.href = "http://www.leyou.com/getOrderInfo.html";
            }
        },
        computed: {
          money(){
              var money=0;
              for (let cart of this.carts) {
                  money+=(cart.price * cart.num);
              }
              return ly.formatPrice(money)
          }
        },
        components: {
            shortcut: () => import("/js/pages/shortcut.js")
        }
    })
</script>
<!-- 底部栏位 -->
<!--页面底部，由js动态加载-->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<div class="clearfix footer"></div>
<script type="text/javascript">$(".footer").load("foot.html");</script>
<!--页面底部END-->
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>

</body>

</html>